.monospace {
  font-family: monospace;
}

.bigFont {
  font-size: 100px;
}

.codeologyContainer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.codeology {
  width: 80vw;
  height: 60vh;
}


.credentialsContainer {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.credendials {
  width: 800px;
  height: 600px;
}
